html {
    align-items: center;
}

body{
    background-color: black;
}

h1{color: green
}

.upper-section{
    background-color: grey;
}
.lower-section{
    background-color: aqua;
}

#musician-title{
    color: orange;
}
#music-item {
    color:white;
    background-color:purple;
}
#musician-item {
    color:white;
    background-color:blueviolet;
}
#ball {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 2s;
    transition: heigth 2s;
}
#ball:hover {
    width: 300px;
    height: 300px;
}
