body{
    background-color: black;
}

h1{color: green
}

.upper-section{
    background-color: grey;
}
.lower-section{
    background-color: aqua;
}

#musician-title{
    color: orange;
}
#music-item {
    color:white;
    background-color:purple;
}
#musician-item {
    color:white;
    background-color:blueviolet;
}